.cosmos
  margin-top: 100px
  padding-bottom: 100px

  &__logo
    margin-right: 50px
    margin-bottom: 0

  &__image
    height: 500px
    position: relative

  &__image img
    width: 100%
    height: 100%
    object-fit: cover

  &__header
    display: flex
    align-items: end

  &__list
    margin-top: 50px
    display: flex
    justify-content: space-between

  &__author
    margin-left: 25px
    color: #000

@media only screen and (max-width: 1199px)

  .cosmos
    margin-top: 70px

@media only screen and (max-width: 991px)
  .cosmos

    & .little-container
      padding: 0 10px

    &__list
      flex-wrap: wrap

    &__logo
      margin-right: 35px

    &__more
      margin-top: 50px

@media only screen and (max-width: 767px)
  .cosmos

    &__logo
      margin-right: 60px

    &__header
      flex-wrap: wrap

    & .tags
      order: 2
      margin: 15px auto 0

    &__list
      justify-content: space-between

    &__item
      margin-bottom: 50px

@media only screen and (max-width: 575px)
  .cosmos

    &__list
      justify-content: center

    &__more
      margin-top: 0

@media only screen and (max-width: 320px)

  .cosmos

    & .little-container
      padding: 0 10px

    &__logo
      font-size: 18px
      line-height: 22px

    &__category
      margin-top: 10px
      margin-bottom: 10px

    &__title
      font-size: 14px
      line-height: 17px