.last-articles
  margin-top: 70px

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    max-width: 390px
    margin-bottom: 50px

  &__image img
    max-width: 390px
    min-height: 500px

  &__author
    color: #000
    margin-left: 25px

  &__more
    margin: 70px auto 100px auto

.popular-articles

  &-slider__counter
    display: none

.all-articles
  margin-bottom: 50px

  &__more
    max-width: 140px
    margin-bottom: 50px

.all-articles__pagination
  max-width: 150px
  margin: 0 auto

.pagination__list
  display: flex
  justify-content: center

.pagination__item:nth-child(1)
  text-decoration: underline

.pagination__item + .pagination__item
  margin-left: 10px

@media only screen and (max-width: 1199px)
  .last-articles__item
    max-width: 379px

  .last-articles__image img
    max-width: 379px

  .last-articles__more
    margin-bottom: 70px

@media only screen and (max-width: 991px)
  .last-articles

    &__list
      justify-content: space-around

  .last-articles__item
      max-width: 310px

  .last-articles__image img
    max-width: 310px
    min-height: auto

@media only screen and (max-width: 767px)
  .last-articles

    &__list
      justify-content: space-between

    &__item
      max-width: 361px

    &__image img
      max-width: 361px

    &__more
      margin-top: 50px

  .popular-articles__information
    max-width: 361px

@media only screen and (max-width: 575px)
    .last-articles

      &__list
        justify-content: space-around

      &__more
        margin-bottom: 70px

    .popular-articles
      position: relative

      & .little-container
        padding: 0
        max-width: 555px
        border-bottom: 1px solid

      &-slider__counter
        display: initial
        top: 767px
        left: 155px

      &__item
        max-width: 555px
        display: flex !important
        flex-direction: column
        align-items: center

      & .slick-btn
        top: 675px

      & .slick-prev
        left: 18px

      & .slick-next
        left: 71px

@media only screen and (max-width: 320px)
  .last-articles

    & .little-container
      padding: 0 10px

    &__logo
      font-size: 18px
      line-height: 22px
      margin-bottom: 30px
      margin-top: 96px

    &__image img
      max-width: 300px

    &__category
      margin-top: 10px
      margin-bottom: 10px

    &__title
      font-size: 14px
      line-height: 17px
      padding-bottom: 20px

  .popular-articles

    &__item
      margin-bottom: 30px
      max-width: 361px !important

    &-slider__counter
      top: 680px
      left: 145px

    & .slick-btn
      top: 547px

    & .slick-prev
      left: 5px

    & .slick-next
      left: 58px

  .all-articles

    &__more
      margin-bottom: 30px

