.last-articles
  padding-bottom: 100px

  &__list
    margin-top: 50px
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    margin-bottom: 50px

  &__image
    position: relative
    width: 100%
    height: 500px

  &__image img
    width: 100%
    height: 100%
    object-fit: cover

  &__author
    color: #000
    margin-left: 25px

  &__more
    margin: 70px auto 0 auto

.popular-articles
  padding-bottom: 50px

  &-slider__counter
    display: none

  &__title
    max-width: 100%

.all-articles

  &__more
    max-width: 140px
    margin-bottom: 50px

.all-articles__pagination
  max-width: 150px
  margin: 0 auto

.pagination__list
  display: flex
  justify-content: center

.pagination__item:nth-child(1)
  text-decoration: underline

.pagination__item + .pagination__item
  margin-left: 10px

@media only screen and (max-width: 1199px)
  .last-articles


@media only screen and (max-width: 991px)
  .last-articles

    & .little-container
      padding: 0 10px


@media only screen and (max-width: 767px)
  .last-articles


@media only screen and (max-width: 575px)
  .last-articles

    &__list
      justify-content: space-around

  .popular-articles
    position: relative

    &__title
      max-height: 47px

    & .little-container
      border-bottom: 1px solid

    &-slider__counter
      display: initial
      top: 767px
      left: 155px

    &__item
      padding-left: 10px
      padding-right: 10px
      margin-bottom: 30px

    & .slick-btn
      top: 675px

    & .slick-prev
      left: 18px

    & .slick-next
      left: 71px

@media only screen and (max-width: 320px)
  .last-articles
    padding-bottom: 70px

    & .little-container
      padding: 0 10px

    &__logo
      font-size: 18px
      line-height: 22px
      margin-bottom: 30px
      margin-top: 96px

    &__image
      max-height: 385px

    &__category
      margin-top: 10px
      margin-bottom: 10px

    &__title
      font-size: 14px
      line-height: 17px
      padding-bottom: 20px

    &__more
      margin-top: 0

  .popular-articles

    &__item
      margin-bottom: 30px

    &-slider__counter
      top: 680px
      left: 145px

    & .slick-btn
      top: 547px

    & .slick-prev
      left: 5px

    & .slick-next
      left: 58px

  .all-articles

    &__more
      margin-bottom: 30px

