.partners-news
  padding-top: 100px

  &__list
    margin-top: 50px
    display: flex
    justify-content: space-between

  &__item
    display: flex
    margin-bottom: 50px

  &__information
    margin-left: 15px

  &__image
    height: 150px

    & img
      width: 100%
      height: 100%
      object-fit: cover

  &__title
    font-size: 18px
    line-height: 22px
    max-width: 315px
    padding-bottom: 44px
    word-wrap: break-word
    overflow: hidden
    max-height: 110px

  &__author
    margin-left: 25px
    color: #000

  &__more
    margin: 70px auto 100px auto

  &__category
    color: #2FC31A
    font-size: 12px
    line-height: 15px
    letter-spacing: 0.01em
    margin-bottom: 10px
    position: relative

    &-image
      margin-right: 15px
      display: inline-block
      width: 14px
      height: 14px

  &__date
    font-family: ProstoOne

.partners-news-article
  padding-top: 70px

  & .little-container
    border-top: 1px solid
    padding: 15px 0 0
    max-width: 1200px

  &__logo
    font-size: 31px
    line-height: 38px

  &__category
    margin-top: 0

@media only screen and (max-width: 1199px)

  .partners-news-article

    & .little-container
      max-width: 1230px
      padding: 15px 10px 0


@media only screen and (max-width: 991px)

  .partners-news

    &__information
      margin-top: 15px
      margin-left: 0

    &__image
      height: 250px

    &__item
      flex-direction: column

    &__title
      padding-bottom: 35px

@media only screen and (max-width: 767px)

  .partners-news

    &__title
      max-width: auto


@media only screen and (max-width: 575px)
  .partners-news


@media only screen and (max-width: 320px)
  .partners-news
    &__logo
      font-size: 18px
      line-height: 22px

    &__information
      margin-top: 10px

    &__image
      height: 150px

    &__title
      font-size: 14px
      line-height: 124.35%
      padding-bottom: 20px