.tesla
  margin-top: 100px
  padding-bottom: 100px

  &__logo
    margin-right: 50px
    margin-bottom: 0

  &__header
    display: flex
    align-items: end

  &__list
    margin-top: 50px
    display: flex
    justify-content: space-between

  &__item:first-child

    & .tesla__image
      width: 100%
      height: 500px
      position: relative

      & img
        width: 100%
        height: 100%
        object-fit: cover

  &__item:not(:first-child)
    & .tesla__image
      width: 100%
      height: 500px
      position: relative
      & img
        width: 100%
        height: 100%
        object-fit: cover

  &__title_big
    max-width: 750px

  &__author
    margin-left: 25px
    color: #000



@media only screen and (max-width: 1199px)
  .tesla
    margin-top: 70px

@media only screen and (max-width: 991px)
  .tesla
    margin-top: 50px

    & .little-container
      padding: 0 10px

    &__logo
      margin-right: 35px


@media only screen and (max-width: 767px)
  .tesla

    &__header
      flex-wrap: wrap

    & .tags
      order: 2
      margin: 15px auto 0

    &__list
      justify-content: space-between

    &__item
      margin-bottom: 50px

    &__item:first-child

      & img
        margin-right: 0 !important

    &__more
      margin-top: 20px


@media only screen and (max-width: 575px)
  .tesla
    margin-top: 45px

@media only screen and (max-width: 320px)
  .tesla

    & .little-container
      padding: 0 10px

    &__logo
      font-size: 18px
      line-height: 22px

    &__item
      & .tesla__image
        max-height: 385px !important

    &__category
      margin-top: 10px
      margin-bottom: 10px

    &__title_big,
    &__title_little
      font-size: 14px
      line-height: 17px

  .tags__list-tag
    font-size: 12px
    line-height: 15px

  .tags__list-item + .tags__list-item
    margin-left: 10px