@font-face
	font-family: 'ProstoOne'
	src: local("Prosto one"), local("Prosto-One"), url(../fonts/ProstoOne/ProstoOne-Regular.ttf) format("truetype")
	font-style: normal
	font-weight: normal

@font-face
	font-family: 'Garamond Pro'
	src: local("Garamond Pro"), local("Garamond Pro"), url(../fonts/Garamond/EBGaramond-Medium.ttf) format("truetype")
	font-style: normal
	font-weight: normal
